.good {
	color: rgba(0, 255, 0, 0.4);
}

.bad {
	color: rgba(255, 0, 0, 0.4);
}

h2 .value-add {
	font-size: 0.4em;
	vertical-align: middle;
}

.widget {
	&.widget-graph, &.widget-series {
		.more-info {
			position: inherit;
			top: auto;
			bottom: auto;
		}	
	}

	&.leaderboard {
		.col-score, .col-trend {
			text-align: right;
		}
		.col-trend {
			opacity: 0.5;
			font-size: 0.7em;
		}
	}

	&.meta_stats {
		background-color: transparent;
		color: #777;
	}

	&.travis {
		background-color: #aaa;
		font-size: 14px;

		ul {
			margin: 0;
		}

		li {
			float: left;
			margin: 0 5px 5px 0;
			background-color: #999;
			border-radius: 3px;

			a {
				padding: 2px 4px;
			}

			a, ul, li {
				display: inline-block;
			}

			li {
				font-size: 10px;
				border-radius: 3px;
				margin: 0 5px 0 0;
				&.good {
					background-color: rgba(0, 255, 0, 0.3);
				}
				&.bad {
					background-color: rgba(255, 0, 0, 0.3);
				}		
			}
		}
	}
}

h1, footer {
	margin: 5px; // simulate widget spacing
	padding: 5px;
	text-align: center;
}

footer {
	color: rgba(255, 255, 255, 0.5);
	font-size: 12px;
	padding: 15px;

	a {
		color: rgba(255, 255, 255, 0.7);
	}
}