.good {
	color: rgba(0, 255, 0, 0.4);
}

.bad {
	color: rgba(255, 0, 0, 0.4);
}

h2 .value-add {
	font-size: 0.4em;
	vertical-align: middle;
}

.widget {
	&.widget-graph, &.widget-series {
		.more-info {
			position: inherit;
			top: auto;
			bottom: auto;
		}	
	}

	&.leaderboard {
		.col-score, .col-trend {
			text-align: right;
		}
		.col-trend {
			opacity: 0.5;
			font-size: 0.7em;
		}
	}
}

.title-bar {
	background: #aaa;
	padding: 10px;
	text-align: center;

	h1 {
		margin: 0;
	}
}