<% content_for(:title) { "Github Open Source Dashboard" } %>
<div class="gridster highcontrast">
  <h1>SilverStripe Contributions Dashboard</h1>
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="4" 
      title="Aggregated weighted contributions: Commits, issues opened/closed, pull requests, comments. Commit counts are taken from master branch only.">
      <div 
        data-id="leaderboard" 
        data-view="Table" 
        data-unordered="true" 
        data-title="Leaderboard">
      </div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div 
        data-id="pull_requests" 
        data-view="Graph" 
        data-title="Pull requests opened" 
        style="background-color:#ff9618" 
        class="widget-graph">
      </div>
    </li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
      <div 
        data-id="issues_stacked" 
        data-view="SeriesGraph" 
        data-renderer="bar"
        data-colors="rgba(255,0,0,0.9) rgba(0,255,0,0.9)" 
        data-title="Issues opened" 
        style="background-color:#ff9618" 
        class="widget-graph">
      </div>
    </li>
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="4">
      <div 
        data-id="travis" 
        data-view="NestedList"
        data-title="Travis Status">
      </div>
    </li>
  </ul>
  <footer data-id="meta_stats" data-view="Meta"></footer>
</div>
