<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div 
        data-id="pull_requests" 
        data-view="Graph" 
        data-title="Pull requests by month" 
        style="background-color:#ff9618" 
        class="widget-graph">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-colors="rgba(255,0,0,0.9) rgba(0,255,0,0.9)">
      <div 
        data-id="issues_stacked" 
        data-view="SeriesGraph" 
        data-title="Issues by month" 
        style="background-color:#ff9618" 
        class="widget-graph">
      </div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="leaderboard" data-view="Table" data-unordered="true" data-title="Leaderboard"></div>
    </li>
  </ul>
</div>