<% content_for(:title) { "Github Open Source Dashboard" } %>
<div class="gridster">
  <div class="title-bar">
    <h1>SilverStripe Contributions Dashboard</h1>
  </div>
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4" 
      title="Aggregated weighted contributions: Commits, issues opened/closed, pull requests, comments">
      <div 
        data-id="leaderboard" 
        data-view="Table" 
        data-unordered="true" 
        data-title="Leaderboard this month">
      </div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div 
        data-id="pull_requests" 
        data-view="Graph" 
        data-title="Pull requests opened" 
        style="background-color:#ff9618" 
        class="widget-graph">
      </div>
    </li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
      <div 
        data-id="issues_stacked" 
        data-view="SeriesGraph" 
        data-renderer="bar"
        data-colors="rgba(255,0,0,0.9) rgba(0,255,0,0.9)" 
        data-title="Issues opened" 
        style="background-color:#ff9618" 
        class="widget-graph">
      </div>
    </li>
    <li data-row="3" data-col="1" data-sizex="4" data-sizey="1" title="Meta">
      <div 
        data-id="meta_stats" 
        data-view="Meta">
      </div>
    </li>
  </ul>
</div>
