<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pull_requests" data-view="Graph" data-title="Pull requests this month" style="background-color:#ff9618" class="widget-graph"></div>
    </li>
  </ul>
</div>