<% content_for(:title) { "Github Open Source Dashboard" } %>
<div class="gridster highcontrast">
  <h1 class="header">SilverStripe Contributions Leaderboard (last 30 days)</h1>
  <ul>
    <li data-row="1" data-col="1" data-sizex="7" data-sizey="4" 
      title="Aggregated weighted contributions: Commits, issues opened/closed, pull requests, comments. Commit counts are taken from default branch only.">
      <div 
        data-id="leaderboard" 
        data-view="Leaderboard" 
        data-unordered="true" 
        data-title="">
      </div>
    </li>
  </ul>
  <footer data-id="meta_stats" data-view="Meta"></footer>
</div>
